
/* ボタンを右下に表示する */
#page-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 4;
}

/* ボタンの色を変更 */
#page-top i {
  color: blue
  
}

/* ボタンをホバーしたときにカーソルを変更 */
#page-top i:hover {
  cursor: pointer;
}

