.footer-list {
    display: flex;
    justify-content: center;
    .footer-item {
        width: 100px;
        margin: 50px 40px 0 40px;
     
    }
}

footer .copyright {
text-align: center;
margin-top: 20px;

}